{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}


<h1>Eat Da Burger!</h1>

<h2>To devour:</h2>

<ul>
  {{#each burgers}}
  {{#unless this.devoured}} 
    
    {{!-- <li>
    {{this.burger_name}}
    
     <form action="/api/burgers/{{this.id}}?_method=PUT" method="PUT">
       
        <button tye="submit">Devour!</button>
     
     </form>

    </li> --}}

    <li class="list-group-item">
       <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
         <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
       </form>
     </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured:</h2>
{{#each burgers}}
  {{#if this.devoured}} 
    
    <li>
    {{this.burger_name}}

    </li>
    {{/if}}
  {{/each}}


{{!-- submit the user input into the database. --}}  


<h2>Add a Burger</h2>
<form method="POST" action="/api/burgers">
    <textarea type="text" name="burger_name"></textarea>
    <button type="submit">Add to Menu</button>
</form>











